{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 center measure-wide lh-copy">
  <header class="tc-l">
    <h1 class="f1 athelas">{{ .Title }}</h1>
    {{ if .Content }}
    <div class="nested-copy-line-height nested-links">
      {{ .Content }}
    </div>
    {{ end }}
  </header>
  
  <section class="flex flex-wrap justify-around mt5">
    {{ range .Paginator.Pages }}
    <div class="w-100 w-50-l mb4 ph3">
      {{ partial "review-card.html" . }}
    </div>
    {{ end }}
  </section>
  
  {{- template "_internal/pagination.html" . -}}
</article>
{{ end }}

